### PHN Technology Internship 

Name- Yashshree Kirad

College - Pune Vidhyarthi Griha's College of Engineering and Technology

Phone - 8888126700

Task 1

In [4]:
import csv

car_data = [
    ['Company Name', 'Model Name', 'Fuel Type', 'Body Style', 'Car Length'],
    ['Honda', 'Civic', 'Petrol', 'Sedan', '4500 mm'],
    ['Toyota', 'Corolla', 'Petrol', 'Sedan', '4700 mm'],
    ['Hyundai', 'i20', 'Petrol', 'Hatchback', '4000 mm'],
    ['Maruti Suzuki', 'Swift', 'Petrol', 'Hatchback', '3850 mm'],
    ['Ford', 'EcoSport', 'Petrol', 'SUV', '3998 mm']
]

with open('car_models.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(car_data)

print("CSV file 'car_models.csv' created successfully.")

CSV file 'car_models.csv' created successfully.

In [5]:
import pandas as pd

car_data = {
    'Company Name': ['Honda', 'Toyota', 'Hyundai', 'Maruti Suzuki', 'Ford'],
    'Model Name': ['Civic', 'Corolla', 'i20', 'Swift', 'EcoSport'],
    'On road pricing': [1500000, 1800000, 900000, 750000, 1200000],
    'Loan amount': [1000000, 1400000, 700000, 600000, 1000000],
    'Monthly EMI': [25000, 30000, 15000, 15000, 25000],
    'Interest Rate': [8.5, 9.0, 7.5, 7.0, 8.0],
    'Monthly Principal': [10000, 12000, 5000, 5000, 8000],
    'Monthly Interest': [1500, 1800, 1000, 1000, 1500]
}

df = pd.DataFrame(car_data)

df.to_excel('car_pricing.xlsx', index=False)
print("Excel file 'car_pricing.xlsx' created successfully.")

Excel file 'car_pricing.xlsx' created successfully.

In [6]:
import pandas as pd

# Read CSV and Excel files into DataFrames
car_models_df = pd.read_csv('car_models.csv')
car_pricing_df = pd.read_excel('car_pricing.xlsx')

# Merge DataFrames on 'Company Name' and 'Model Name'
merged_df = pd.merge(car_models_df, car_pricing_df, on=['Company Name', 'Model Name'])

# Fill "NA" values in the merged DataFrame
merged_df.fillna("NA", inplace=True)

# Iterate over the merged DataFrame and add GST value in 'On road pricing' column
gst_value = 0.18  # Assuming a 18% GST rate
merged_df['On road pricing'] = merged_df['On road pricing'] * (1 + gst_value)

# Print the final merged and updated DataFrame
print(merged_df)

    Company Name Model Name Fuel Type Body Style Car Length  On road pricing  \
0          Honda      Civic    Petrol      Sedan    4500 mm        1770000.0
1         Toyota    Corolla    Petrol      Sedan    4700 mm        2124000.0
2        Hyundai        i20    Petrol  Hatchback    4000 mm        1062000.0
3  Maruti Suzuki      Swift    Petrol  Hatchback    3850 mm         885000.0
4           Ford   EcoSport    Petrol        SUV    3998 mm        1416000.0

   Loan amount  Monthly EMI  Interest Rate  Monthly Principal  \
0      1000000        25000            8.5              10000
1      1400000        30000            9.0              12000
2       700000        15000            7.5               5000
3       600000        15000            7.0               5000
4      1000000        25000            8.0               8000

   Monthly Interest
0              1500
1              1800
2              1000
3              1000
4              1500